<!DOCTYPE html>

<html>

<head>
    <title>AI Logistics Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>


    <div class="container">

        <h1>AI-Powered Smart Logistics Intelligence Platform</h1>

        <p>
            Logistics Analytics, Delay Prediction and Business Intelligence Dashboard
        </p>

        <div class="card-container">

            <div class="card">
                <h2>10,324+</h2>
                <p>Total Orders</p>
            </div>

            <div class="card">
                <h2>1,186</h2>
                <p>Delayed Orders</p>
            </div>

            <div class="card">
                <h2>11.49%</h2>
                <p>Delay Percentage</p>
            </div>

        </div>

        <br><br>



        <div class="button-container">

            <a href="/" class="btn">
                🏠 Home
            </a>

            <a href="/predict" class="btn">
                🤖 Delay Prediction
            </a>

            <a href="/analytics" class="btn">
                📊 Analytics Dashboard
            </a>

            <a href="https://github.com/Harshada1441/AI-Logistics-Analytics-Platform" target="_blank" class="btn">
                📂 GitHub Repository
            </a>

        </div>

        <footer>
            <p>
                Developed by Harshada Patil | AI-Powered Smart Logistics Intelligence Platform
            </p>
        </footer>


</body>

</html>